h1 {
	color: navy; 
	width: 98%;
	padding: 2px 4px 2px 4px;
	border: dashed;
	font-family: Verdana;
	font-size: 28px; 
}	

h1 div {
	display: inline-block;
}

h2 {
	color: navy;
	font-family: Verdana;
	font-size: 18px;	
}

#main {
	position: relative;
	display: inline;
	float: left;
	width: 60%
	margin: 10px;
}

#hobbies {
	position: relative;
	display: inline;
	float: right;
	margin: 10px;
	width: 30%;
}

.pic {
	position: relative;
	float: left;
	margin:10px;
	font: #070496;
}
		
p {
	color: olive;
	font-family: Verdana;
	font-size: 16px;
}
		
img {
	border-color: black;
	border: dotted;
}

a:link {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	background-color: #c1a4f0;
}

ul {
	color: olive;
	font-family: Verdana;
	font-size: 16px;
}